body{
    color: darkslategray;
    background: aquamarine;
}

a{
    color: blue;
}

footer{
    color: blue;
    background-color: olivedrab;
}

.title_product{
    text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  text-align: left;
}

.cell_color{
  background-color: yellow;
}