{% extends 'template.html' %}
{% block corpo %}

    <h2 class="title_product">List Products</h2>
    <table style="width:100%">

        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>

        {% for obj in products%}
            <tr>
                <td>{{ obj['name'] }}</td>
                <td>{{ obj['description'] }}</td>
                <td>{{ obj['price'] }}</td>
            </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/">Go back</a>
{% endblock %}