body{
    color: darkslategray;
    background: aquamarine;
}

a{
    color: blue;
}

footer{
    color: blue;
    background-color: olivedrab;
}

<<<<<<< HEAD:frontend/static/css/style.css
.title_product{
    text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  text-align: left;
}
=======
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
  }
>>>>>>> ff2a98f96107ed5f69db995b0d7b71fe355ea251:app/frontend/static/css/style.css
