{% extends 'template.html' %}
{% block corpo %}

    <h2 class="title_product">List Products</h2>
    <table style="width:100%">

        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>

        {% for product in products%}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>R${{ "%.2f"|format(product.price) }}</td>
                <td>
                    <a href="/products/update?id={{ product.id }}&product={{product.name}}&description={{product.description}}&price={{"%.2f"|format(product.price)}}">
                        Edit
                    </a>
                </td>
                <td>
                    <a href="/products/delete?id={{product.id}}">
                        Delete
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/">Go back</a>
{% endblock %}
{% block footer %}
{% endblock footer %}