{% extends 'template.html' %}
{% block corpo %}

    <h2 class="title_product">List Marketplaces</h2>
    <table style="width:100%">

        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>

        {% for marketplace in marketplaces%}
            <tr>
                <td>{{ marketplace.name }}</td>
                <td>{{ marketplace.description }}</td>
            </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/">Go back</a>
{% endblock %}
{% block footer %}
{% endblock footer %}