{% extends 'template.html' %}
{% block corpo %}

    <h2 class="title_product">List Sellers</h2>
    <table style="width:100%">

        <tr>
            <th>Name</th>
            <th>E-mail</th>
            <th>Phone number</th>
        </tr>

        {% for obj in sellers%}
            <tr>
                <td>{{ obj[0] }}</td>
                <td>{{ obj[1] }}</td>
                <td>{{ obj[2] }}</td>
            </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/">Go back</a>
{% endblock %}