{% extends 'template.html' %}
{% block corpo %}

    <h2 class="title_product">List Categories</h2>
    <table style="width:100%">

        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
  
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                    <td>
                        <a href="/categories/update?id={{ category.id }}">
                            Edit
                        </a>
                    </td>
                    <td>
                        <a href="/categories/delete?id={{category.id}}">
                            Delete
                        </a>
                    </td>
                
            </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/">Go back</a>
{% endblock %}
{% block footer %}
{% endblock footer %}