{% extends 'template.html' %}
{% block corpo %}

    <h2 class="title_product">List Categories</h2>
    <table style="width:100%">

        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
  
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td>
                    <form action= "/categories/edit">
                        <input name="id" value="{{category.id}}" type="text" hidden />
                        <input name="category" value="{{ category.name }}" type="text" hidden />
                        <input name="descricao" value="{{ category.description }}" type="text" hidden />
                        <input required type="submit" value="edit" />
                    </form>
                </td>
                <td>
                    <form action="/categories/delete">
                        <input name="id" value="{{ category.id }}" hidden/>
                        <input required type="submit" value="delete" />
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/">Go back</a>
{% endblock %}
{% block footer %}
{% endblock footer %}