{% extends 'template.html' %}
{% block corpo %}

    <h2 class="title_product">Logs</h2>

    <table style="width:100%">
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Where</th>
        </tr>
        {% for obj in lista %}
            {% if "List" in obj %}
                <tr class="cell_color">
                    <td >{{ obj[0] }}</td>
                    <td>{{ obj[1] }}</td>
                    <td>{{ obj[2] }}</td>
                </tr>
                {% else %}
                <tr>
                    <td >{{ obj[0] }}</td>
                    <td>{{ obj[1] }}</td>
                    <td>{{ obj[2] }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>

    <br>
    <a href="/">Go back</a>
{% endblock %}
{% block footer %}
{% endblock footer %}