{% extends 'template.html' %}
{% block corpo %}
    <h1>'Cadastro de Marketplaces'</h1>
    <form action="/marketplaces">
        <label>
            Marketplace :
        </label>
        <input name="marketplace" value="" type="text"/>
        <label>
            Descrição :
        </label>
        <input name="descricao" value="" type="text"/>
        <input required type="submit" value="cadastrar"/>
    </form>
    {% for link in links %}
        <ul>
            <a href="{{ link['route'] }}">{{ link['name'] }}</a>
        </ul>
    {% endfor %}
{% endblock %}