{% extends 'template.html' %}
{% block corpo %}
{% if edit %}
    <h1>'Editar Produto'</h1>
    <form action="/products/update" method='POST'>
        <input name="id" value="{{ product.id }}" hidden/>
        <label>
            Produto :
        </label>
        <input name="product" value="{{ product.name  }}" type="text"/>
        <label>
            Descrição :
        </label>
        <input name="description" value="{{ product.description }}" type="text"/>
        <label>
            Preço :
        </label>
        <input name="price" value="{{ product.price }}" type="number" step="0.01"/>
        <input required type="submit" value="salvar"/>
    </form>
{% else %}
<h1>'Cadastro de Produtos'</h1>
<form action="/products">
    <label>
        Produto :
    </label>
    <input name="product" value="" type="text"/>
    <label>
        Descrição :
    </label>
    <input name="description" value="" type="text"/>
    <label>
        Preço :
    </label>
    <input name="price" value="" type="number" step="0.01"/>
    <input required type="submit" value="cadastrar"/>
</form>

{% endif %}
{% endblock %}