{% extends 'template.html' %}
{% block corpo %}
    <h1>'Cadastro de Produtos'</h1>
    <form action="/products">
        <label>
            Produto :
        </label>
        <input name="produto" value="" type="text"/>
        <label>
            Descrição :
        </label>
        <input name="descricao" value="" type="text"/>
        <label>
            Preço :
        </label>
        <input name="preco" value="" type="number" step="0.01"/>
        <!-- TODO mudar campo float-->
        <input required type="submit" value="cadastrar"/>
    </form>
    {% for link in links %}
        <ul>
            <a href="{{ link['route'] }}">{{ link['name'] }}</a>
        </ul>
    {% endfor %}
{% endblock %}