{% extends 'template.html' %}
{% block corpo %}
    <h1>'Cadastro de Vendedores'</h1>
    <form action="/sellers">
        <label>
            Nome completo :
        </label>
        <input name="name" value="" type="text"/>
        <label>
            E-mail :
        </label>
        <input name="email" value="" type="text"/>
        <label>
            Telefone :
        </label>
        <input name="phone_number" value="" type="number" step="0.01"/>
        <!-- TODO mudar campo float-->
        <input required type="submit" value="cadastrar"/>
    </form>
    {% for link in links %}
        <ul>
            <a href="{{ link['route'] }}">{{ link['name'] }}</a>
        </ul>
    {% endfor %}
{% endblock %}